#root {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: flex-start; /* Alinha no topo */
  text-align: center;
  width: 100%;
  height: 100vh; /* Garante que a altura ocupe toda a tela */
  margin: 0;
}

.logo {
  margin: 0;
  position: absolute;
  top: 0; /* Posiciona o logo no topo */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajusta o centro exato */
  will-change: filter;
  transition: filter 300ms;
  z-index: 10;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cff);
  z-index: 10;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
  z-index: 10;
}

.verDetalhes {
  background-color: rgb(101, 101, 226);
  margin: 6px 3px;
}

.lista {
  background-color: rgb(101, 101, 226);
  margin: 6px 3px;
  width: 100%;
}

ul {
  border-radius: 5px;
  padding: 10px;
}

li {
  display: flex;
  list-style: none;
}

.linha-sobre {
  text-decoration: line-through;
  background-color: rgb(70, 70, 177);
}

.fundo {
  background-color: rgb(170, 170, 170);
  width: 500px;
}

input {
  border-radius: 5px;
  outline: grey;
  height: 30px;
  margin: 0 3px;
  background-color: rgb(43, 43, 43);
}

#adicionarTask {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  gap: 3px;
  margin-top: 25%;
}

.taskLogo {
  color: rgb(101, 101, 226);
  display: inline;
}

.taskLogo:hover {
  filter: brightness(1.5);
}

button:hover {
  filter: brightness(1.5) drop-shadow(0 0 2em #646cff);
}
